extends ./layout/layout.pug
block css
	//- link(href='/css/base.min.css' rel='stylesheet')
	//- link(href='/css/index.min.css' rel='stylesheet')
block content    
	header.header
		h2 Path Tracking
	.content
		.panel
			button.btn 连接蓝牙设备
		.canvas
			canvas#canvas(width="800" height="600")